## Setup environment to complete Mode Analytics Tutorial

### Overview

In this notebook, I set up the environment to complete the [Mode SQL Analytics Training](https://community.modeanalytics.com/sql/tutorial/sql-business-analytics-training/). The steps I completed are:
1. Downloaded required data.
2. Uploaded data into PostgreSQL database.

Notes:
- Data used in this tutorial is fake data. The data is representative of actual Yammer data, but uses fake information instead of real information to protect user privacy.

### Download required data

According to the [instructions](https://community.modeanalytics.com/sql/tutorial/a-drop-in-user-engagement/), the tables required are:
1. tutorials.yammer_users
2. tutorials.yammer_events
3. tutorials.yammer_emails
4. tutorials.yammer_users

In the Mode Analytics Editor, I ran the following query for each table above to select all rows from the table:

"SELECT * FROM table"

I made sure to uncheck "Limit 100," and I exported each table as a csv file. The csv files are stored in the "data" folder.

### Upload data into PostgreSQL database.

I loaded the required library to use PostgreSQL

In [221]:
import psycopg2
import io
from urllib import request
import csv
import datetime as dt
from datetime import datetime

Before I uploaded the data into a database, I first created a new database to store the data.

In [222]:
# Create Database yammer_data
conn = psycopg2.connect(dbname="postgres", user="postgres")
conn.autocommit = True
cur = conn.cursor()
cur.execute("DROP DATABASE IF EXISTS yammer_data")
cur.execute("CREATE DATABASE yammer_data")
conn.commit()
conn.close()

I then created tables inside the yammer_data database.

In [223]:
# Create Table yammer_users
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS yammer_users")
cur.execute("""
    CREATE TABLE yammer_users(
        user_id INTEGER PRIMARY KEY,
        created_at TIMESTAMP,
        company_id INTEGER,
        language VARCHAR(30),
        activated_at TIMESTAMP,
        state VARCHAR(30)
    );
""")
conn.commit()

conn.close()

In [233]:
# Create Table yammer_events
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS yammer_events")
cur.execute("""
    CREATE TABLE yammer_events(
        user_id INTEGER,
        occured_at TIMESTAMP,
        event_type VARCHAR(30),
        event_name VARCHAR(30),
        location VARCHAR(30),
        device VARCHAR(30),
        user_type INTEGER
    );
""")
conn.commit()

conn.close()

In [235]:
# Create Table yammer_emails
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS yammer_emails")
cur.execute("""
    CREATE TABLE yammer_emails(
        user_id INTEGER,
        occured_at TIMESTAMP,
        action VARCHAR(30),
        user_type INTEGER
    );
""")
conn.commit()

conn.close()

In [245]:
# Create Table dimension_rollup_periods
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS dimension_rollup_periods")
cur.execute("""
    CREATE TABLE dimension_rollup_periods(
        period_id INTEGER,
        time_id TIMESTAMP,
        pst_start TIMESTAMP,
        pst_end TIMESTAMP,
        utc_start TIMESTAMP,
        utc_end TIMESTAMP
    );
""")
conn.commit()

conn.close()

I copied each table from its csv file in the "data" folder to its corresponding table in the yammer_data database.

In [227]:
# Fill data in yammer_users
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
with open('data/yammer_users.csv', 'r') as f:
    next(f)
    cur.copy_from(f, 'yammer_users', sep=',', null="")
conn.commit()
conn.close()

In [234]:
# Fill data in yammer_events
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
with open('data/yammer_events.csv', 'r') as f:
    next(f)
    cur.copy_from(f, 'yammer_events', sep=',', null="")
conn.commit()
conn.close()

In [236]:
# Fill data in yammer_emails
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
with open('data/yammer_emails.csv', 'r') as f:
    next(f)
    cur.copy_from(f, 'yammer_emails', sep=',', null="")
conn.commit()
conn.close()

In [246]:
# Fill data in dimension_rollup_periods
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()
with open('data/dimension_rollup_periods.csv', 'r') as f:
    next(f)
    cur.copy_from(f, 'dimension_rollup_periods', sep=',', null="")
conn.commit()
conn.close()

### Check whether data in database tables seem correct

Print the first 10 rows of each table and inspect to determine whether data is reasonable

In [248]:
# Print first 10 rows of yammer_users
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()

query = "SELECT * FROM yammer_users LIMIT 10"
cur.execute(query)
print(cur.fetchall())

conn.commit()
conn.close()

[(0, datetime.datetime(2013, 1, 1, 20, 59), 5737, 'english', datetime.datetime(2013, 1, 1, 21, 1), 'active'), (1, datetime.datetime(2013, 1, 1, 13, 7), 28, 'english', None, 'pending'), (2, datetime.datetime(2013, 1, 1, 10, 59), 51, 'english', None, 'pending'), (3, datetime.datetime(2013, 1, 1, 18, 40), 2800, 'german', datetime.datetime(2013, 1, 1, 18, 42), 'active'), (4, datetime.datetime(2013, 1, 1, 14, 37), 5110, 'indian', datetime.datetime(2013, 1, 1, 14, 39), 'active'), (5, datetime.datetime(2013, 1, 1, 13, 39), 2463, 'spanish', None, 'pending'), (6, datetime.datetime(2013, 1, 1, 18, 37), 11699, 'english', datetime.datetime(2013, 1, 1, 18, 38), 'active'), (7, datetime.datetime(2013, 1, 1, 16, 19), 4765, 'french', datetime.datetime(2013, 1, 1, 16, 20), 'active'), (8, datetime.datetime(2013, 1, 1, 4, 38), 2698, 'french', datetime.datetime(2013, 1, 1, 4, 40), 'active'), (9, datetime.datetime(2013, 1, 1, 8, 4), 1, 'french', None, 'pending')]

In [249]:
# Print first 10 rows of yammer_events
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()

query = "SELECT * FROM yammer_events LIMIT 10"
cur.execute(query)
print(cur.fetchall())

conn.commit()
conn.close()

[(10522, datetime.datetime(2014, 5, 2, 11, 2), 'engagement', 'login', 'Japan', 'dell inspiron notebook', 3), (10522, datetime.datetime(2014, 5, 2, 11, 2), 'engagement', 'home_page', 'Japan', 'dell inspiron notebook', 3), (10522, datetime.datetime(2014, 5, 2, 11, 3), 'engagement', 'like_message', 'Japan', 'dell inspiron notebook', 3), (10522, datetime.datetime(2014, 5, 2, 11, 4), 'engagement', 'view_inbox', 'Japan', 'dell inspiron notebook', 3), (10522, datetime.datetime(2014, 5, 2, 11, 3), 'engagement', 'search_run', 'Japan', 'dell inspiron notebook', 3), (10522, datetime.datetime(2014, 5, 2, 11, 3), 'engagement', 'search_run', 'Japan', 'dell inspiron notebook', 3), (10612, datetime.datetime(2014, 5, 1, 9, 59), 'engagement', 'login', 'Netherlands', 'iphone 5', 1), (10612, datetime.datetime(2014, 5, 1, 10, 0), 'engagement', 'like_message', 'Netherlands', 'iphone 5', 1), (10612, datetime.datetime(2014, 5, 1, 10, 0), 'engagement', 'send_message', 'Netherlands', 'iphone 5', 1), (10612, datetime.datetime(2014, 5, 1, 10, 1), 'engagement', 'home_page', 'Netherlands', 'iphone 5', 1)]

In [250]:
# Print first 10 rows of yammer_emails
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()

query = "SELECT * FROM yammer_emails LIMIT 10"
cur.execute(query)
print(cur.fetchall())

conn.commit()
conn.close()

[(0, datetime.datetime(2014, 5, 6, 9, 30), 'sent_weekly_digest', 1), (0, datetime.datetime(2014, 5, 13, 9, 30), 'sent_weekly_digest', 1), (0, datetime.datetime(2014, 5, 20, 9, 30), 'sent_weekly_digest', 1), (0, datetime.datetime(2014, 5, 27, 9, 30), 'sent_weekly_digest', 1), (0, datetime.datetime(2014, 6, 3, 9, 30), 'sent_weekly_digest', 1), (0, datetime.datetime(2014, 6, 3, 9, 30), 'email_open', 1), (0, datetime.datetime(2014, 6, 10, 9, 30), 'sent_weekly_digest', 1), (0, datetime.datetime(2014, 6, 10, 9, 30), 'email_open', 1), (0, datetime.datetime(2014, 6, 17, 9, 30), 'sent_weekly_digest', 1), (0, datetime.datetime(2014, 6, 17, 9, 30), 'email_open', 1)]

In [251]:
# Print first 10 rows of dimension_rollup_periods
conn = psycopg2.connect(dbname="yammer_data", user="postgres")
cur = conn.cursor()

query = "SELECT * FROM dimension_rollup_periods LIMIT 10"
cur.execute(query)
print(cur.fetchall())

conn.commit()
conn.close()

[(1, datetime.datetime(2013, 1, 1, 0, 0), datetime.datetime(2013, 1, 1, 0, 0), datetime.datetime(2013, 1, 2, 0, 0), datetime.datetime(2013, 1, 1, 8, 0), datetime.datetime(2013, 1, 2, 8, 0)), (1, datetime.datetime(2013, 1, 2, 0, 0), datetime.datetime(2013, 1, 2, 0, 0), datetime.datetime(2013, 1, 3, 0, 0), datetime.datetime(2013, 1, 2, 8, 0), datetime.datetime(2013, 1, 3, 8, 0)), (1, datetime.datetime(2013, 1, 3, 0, 0), datetime.datetime(2013, 1, 3, 0, 0), datetime.datetime(2013, 1, 4, 0, 0), datetime.datetime(2013, 1, 3, 8, 0), datetime.datetime(2013, 1, 4, 8, 0)), (1, datetime.datetime(2013, 1, 4, 0, 0), datetime.datetime(2013, 1, 4, 0, 0), datetime.datetime(2013, 1, 5, 0, 0), datetime.datetime(2013, 1, 4, 8, 0), datetime.datetime(2013, 1, 5, 8, 0)), (1, datetime.datetime(2013, 1, 5, 0, 0), datetime.datetime(2013, 1, 5, 0, 0), datetime.datetime(2013, 1, 6, 0, 0), datetime.datetime(2013, 1, 5, 8, 0), datetime.datetime(2013, 1, 6, 8, 0)), (1, datetime.datetime(2013, 1, 6, 0, 0), datetime.datetime(2013, 1, 6, 0, 0), datetime.datetime(2013, 1, 7, 0, 0), datetime.datetime(2013, 1, 6, 8, 0), datetime.datetime(2013, 1, 7, 8, 0)), (1, datetime.datetime(2013, 1, 7, 0, 0), datetime.datetime(2013, 1, 7, 0, 0), datetime.datetime(2013, 1, 8, 0, 0), datetime.datetime(2013, 1, 7, 8, 0), datetime.datetime(2013, 1, 8, 8, 0)), (1, datetime.datetime(2013, 1, 8, 0, 0), datetime.datetime(2013, 1, 8, 0, 0), datetime.datetime(2013, 1, 9, 0, 0), datetime.datetime(2013, 1, 8, 8, 0), datetime.datetime(2013, 1, 9, 8, 0)), (1, datetime.datetime(2013, 1, 9, 0, 0), datetime.datetime(2013, 1, 9, 0, 0), datetime.datetime(2013, 1, 10, 0, 0), datetime.datetime(2013, 1, 9, 8, 0), datetime.datetime(2013, 1, 10, 8, 0)), (1, datetime.datetime(2013, 1, 10, 0, 0), datetime.datetime(2013, 1, 10, 0, 0), datetime.datetime(2013, 1, 11, 0, 0), datetime.datetime(2013, 1, 10, 8, 0), datetime.datetime(2013, 1, 11, 8, 0))]